.decode-challenge-title{
    font-size: 40px;
}

.decode-challenge {
    font-size: 40px;
    font-family: Wingdings;
}

.index-h1{
    color: peachpuff;
    background-color: blue;
    text-align: center;
    font-size: 70px;
    margin: 0px;
}

.beta-tests{
    background-color: black;
    text-align: center;
    font-size: 70px;
    color: aqua;
    margin: 0px;
}